.fern-sidebar-link-container[data-state=active] .fern-sidebar-link {
  background-color: #302F38;
}

.fern-sidebar-link-container[data-state=active] {
  color: #ffffff;
}

.fern-scroll-area-thumb {
  background-color: #302F38;
}

.fern-card {
  background-color: #181C20;
}

.fern-button:not(.disabled).filled.primary {
  font-weight: 500;
}

:is(.light) .fern-background {
  background-image: radial-gradient(49.63% 57.02% at 58.99% -7.2%, rgba(81, 24, 108, 0.1) 39.4%, rgba(0, 0, 0, 0) 100%) !important;
  z-index: -1 !important;
}

.hide-svg .fern-mdx-link svg {
  display: none;
}

a[id*="playground-button"] {
  display: none;
}

a.green-cards:hover {
  border-color: #00ee91 !important;
}

.green-cards .text-body {
  color: #00ee91 !important;
}

.purple-cards .text-body {
  color: #CC38FF !important;
}

.card-icon-w64 .card-icon {
  width: 64px !important;
}