{
  "openapi": "3.0.1",
  "info": {
    "title": "Paradex REST API",
    "description": "The following describe Paradex API.\n",
    "contact": {},
    "version": "1.106.2"
  },
  "servers": [
    {
      "url": "https://api.prod.paradex.trade/v1"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account information",
        "description": "Respond with requester's account information\n",
        "operationId": "get-account",
        "parameters": [
          {
            "name": "subaccount_address",
            "in": "query",
            "description": "Subaccount address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/account/history": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account history",
        "description": "Respond with requester's account information\n",
        "operationId": "get-account-history",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of data",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pnl",
                "value",
                "volume",
                "fee_savings"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountHistoricalDataResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/account/info": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Return account info of current account",
        "operationId": "get-accounts-info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.GetAccountsInfoResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/account/margin": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account margin configuration",
        "description": "Get margin configuration for an account and market",
        "operationId": "get-account-margin",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "description": "Market Name - example: BTC-USD-PERP",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.GetAccountMarginConfigsResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/account/margin/{market}": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Set margin configuration",
        "description": "Set margin configuration for an account and market",
        "operationId": "upsert-account-margin",
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "description": "Market Name - example: BTC-USD-PERP",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Margin Configuration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AccountMarginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UpdateAccountMarginConfigResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "config"
      }
    },
    "/account/profile": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account profile information",
        "description": "Respond with requester's account information\n",
        "operationId": "get-account-profile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountProfileResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Updates account profile",
        "description": "Updates account profile information",
        "operationId": "update-account-profile",
        "requestBody": {
          "description": "Update account profile request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.UpdateAccountProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountProfileResp"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/account/profile/market_max_slippage/{market}": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Updates account max slippage for a specific market",
        "description": "Respond with requester's account max_slippage\n",
        "operationId": "update-account-market-max-slippage",
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "description": "{base_currency}-{quote_currency}-{kind}",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update market max slippage request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.UpdateAccountMaxSlippageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountProfileResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/account/profile/notifications": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Updates account notification preferences",
        "description": "Updates user notification preferences for orders, fills, announcements, and transfers. All fields are optional - only provided fields will be updated.",
        "operationId": "update-account-notification-preferences",
        "requestBody": {
          "description": "Update notification preferences request (all fields optional)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.UpdateNotificationPreferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountProfileResp"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/account/profile/referral_code": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Updates account profile fields",
        "description": "Respond with requester's account information\n",
        "operationId": "update-account-profile-referral-code",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountProfileResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/account/profile/size_currency_display": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Updates account size currency display preference",
        "description": "To set user preferences for the size currency display on the UI, BASE will use base currency, and QUOTE will use quote currency.",
        "operationId": "update-account-size-currency-display",
        "requestBody": {
          "description": "Update account size currency display request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.UpdateSizeCurrencyDisplayRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountProfileResp"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/account/profile/username": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Updates account profile username fields",
        "description": "Respond with requester's account information\n",
        "operationId": "update-account-profile-username",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountProfileResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/account/referrer": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Updates account referred_by field",
        "description": "Add missing account referrer within a certain time window after account creation.\n",
        "operationId": "update-account-referrer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountProfileResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/account/settings": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account settings",
        "description": "Get account settings",
        "operationId": "get-account-settings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountSettingsResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/account/settings/trading_value_display": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Updates account trading value display",
        "description": "To set user preferences for the trading value display on the UI, Spot Notional will use spot price, and Market Value will use the market price.",
        "operationId": "update-account-trading-value-display",
        "requestBody": {
          "description": "Update account trading value display request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.UpdateTradingValueDisplayRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AccountProfileResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/account/subaccounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List sub-accounts of current account",
        "description": "Respond with requester's list of sub-accounts\n",
        "operationId": "get-sub-accounts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.GetSubAccountsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/account/subkeys": {
      "get": {
        "tags": [
          "Subkey"
        ],
        "summary": "List Subkeys",
        "description": "Get all subkeys for the authenticated account with optional filtering by status.\n",
        "operationId": "list-subkeys",
        "parameters": [
          {
            "name": "with_revoked",
            "in": "query",
            "description": "Include revoked subkeys",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subkeys",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.APIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.Subkey"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Subkey"
        ],
        "summary": "Register Subkey",
        "description": "Register a new subkey for the authenticated account.\n",
        "operationId": "register-subkey",
        "requestBody": {
          "description": "Subkey registration request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.CreateSubkey"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "An empty response",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/account/subkeys/{public_key}": {
      "delete": {
        "tags": [
          "Subkey"
        ],
        "summary": "Revoke Subkey",
        "description": "Revoke a subkey for the authenticated account.\n",
        "operationId": "revoke-subkey",
        "parameters": [
          {
            "name": "public_key",
            "in": "path",
            "description": "Subkey public key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subkey revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.RevokeSubkeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/account/summary": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account summaries (main account + authorized accounts)",
        "description": "Respond with account summaries for the account plus all authorized accounts.",
        "operationId": "get-accounts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.APIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.AccountSummaryResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/account/tokens": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "List tokens",
        "description": "Get all tokens for the authenticated account with optional filtering by kind\nand status.\n",
        "operationId": "list-tokens",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by token kind (e.g., 'jwt', 'api_key')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_invalid",
            "in": "query",
            "description": "Include revoked and expired tokens",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tokens",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.APIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.ApiToken"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Token"
        ],
        "summary": "Create token",
        "description": "Create a new authentication token for the authenticated account with custom\nname and expiration duration.\n",
        "operationId": "create-token",
        "requestBody": {
          "description": "Token creation request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.CreateToken"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.CreateTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/account/tokens/{lookup_id}": {
      "delete": {
        "tags": [
          "Token"
        ],
        "summary": "Revoke token",
        "description": "Revoke an authentication token by its unique identifier.\n",
        "operationId": "revoke-token",
        "parameters": [
          {
            "name": "lookup_id",
            "in": "path",
            "description": "Token lookup ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.RevokeTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/algo/orders": {
      "get": {
        "tags": [
          "Algos"
        ],
        "summary": "Get open algo orders",
        "description": "Get current user all open algo orders\n",
        "operationId": "get-open-algo-orders",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.APIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.AlgoOrderResp"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Algos"
        ],
        "summary": "Create algo order",
        "description": "Create a new algo order\n\n### TWAP\n\nTWAP orders break a large trade into smaller ones over time to reduce market impact:\n- Sub-orders are placed every 30 seconds.\n- Order duration is between 30 and 86,400 seconds, in multiples of 30.\n- Supported sub order type: MARKET\n",
        "operationId": "create-algo-order",
        "requestBody": {
          "description": "Algo order content",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.AlgoOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AlgoOrderResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "params"
      }
    },
    "/algo/orders-history": {
      "get": {
        "tags": [
          "Algos"
        ],
        "summary": "Get algo orders history",
        "description": "Get current user algo orders filtered on attributes\n",
        "operationId": "get-algo-orders-history",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Unique ID of client generating the order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Returns the ‘next’ paginated page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_at",
            "in": "query",
            "description": "End Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Market for the order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Limit the number of responses in the page",
            "schema": {
              "maximum": 5000,
              "minimum": 1,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Order side",
            "schema": {
              "type": "string",
              "enum": [
                "BUY",
                "SELL"
              ]
            }
          },
          {
            "name": "start_at",
            "in": "query",
            "description": "Start Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Order status",
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "CLOSED",
                "NEW"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Order type",
            "schema": {
              "type": "string",
              "enum": [
                "LIMIT",
                "MARKET",
                "STOP_LIMIT",
                "STOP_MARKET",
                "STOP_LOSS_LIMIT",
                "STOP_LOSS_MARKET",
                "TAKE_PROFIT_LIMIT",
                "TAKE_PROFIT_MARKET"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.PaginatedAPIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.AlgoOrderResp"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/algo/orders/{algo_id}": {
      "get": {
        "tags": [
          "Algos"
        ],
        "summary": "Get algo order by id",
        "description": "Get an algo order by id. Only return algo order in `OPEN` or `NEW` status.\n",
        "operationId": "get-algo-order-by-id",
        "parameters": [
          {
            "name": "algo_id",
            "in": "path",
            "description": "Algo ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AlgoOrderResp"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Algos"
        ],
        "summary": "Cancel algo order by id",
        "description": "Cancel an existing algo order by id\n",
        "operationId": "cancel-algo-order",
        "parameters": [
          {
            "name": "algo_id",
            "in": "path",
            "description": "Algo ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/auth": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get JWT",
        "description": "Authenticate using signed payload to get a JWT for usage in other endpoints\n\nThere are multiple valid headers required to be sent as part of this request.\n\nFor onboarding examples, refer to `go`, `java` and `python` code in [code-samples](https://github.com/tradeparadex/code-samples).\n\n#### StarkNet Message Hash and Signature\n\nInspired by [EIP-712](https://eips.ethereum.org/EIPS/eip-712),\n(a standard for hashing and signing typed structured data)\nthe encoding of an off-chain message is defined as:\n\n`signed_data = Enc[PREFIX_MESSAGE, domain_separator, account, hash_struct(message)]`\n\nwhere:\n\n- `PREFIX_MESSAGE = \"StarkNet Message\"`\n- `domain_separator` is defined as the `hash_struct` of the StarkNetDomain struct:\n  * Struct contains: `name`, `chainId` and `version`\n  * `chainId` is can be obtained calling `GET /system/config`\n- `account` is the StarkNet account address\n- The message to be hashed is represented as a struct\n  * `hash_struct(message) = Enc[type_hash(MyStruct), Enc[param1], ..., Enc[paramN]]`\n  * where `type_hash` is defined as in EIP-712 (but using `selector` instead of `keccak`)\n  * More details on StarkNet - [Hash Functions](https://docs.starknet.io/architecture-and-concepts/cryptography/#hash_functions)\n\nIn case of more complex structure of object, you have to work in the spirit of EIP-712.\nThis json structure has 4 mandatory items: `types`, `primaryType`, `domain` and `message`.\nThese items are designed to be able to be an interface with a wallet.\nAt sign request, the wallet will display:\n\n- `message` will be displayed at the bottom of the wallet display,\nshowing clearly (not in hex) the message to sign.\nIts structure has to be in accordance with the type listed in primaryType,\ndefined in types.\n- `domain` will be shown above the message.\nIts structure has to be in accordance with `StarkNetDomain`.\n\nThe predefined types that you can use :\n\n- `felt` : for an integer on 251 bits.\n- `felt*` : for an array of felt.\n- `string` : for a shortString of 31 ASCII characters max.\n- `selector` : for a name of a smart contract function.\n- `merkletree` : for a Root of a Merkle tree, calculated with the provided data.\n\nSpecification details: [Signing transactions and off-chain messages](https://github.com/argentlabs/argent-x/discussions/14)\n\n#### Message Hash Sample Code\n\nFor a complete `message_hash` example, refer to `python` code in [code-samples](https://github.com/tradeparadex/code-samples).\n\n> Examples:\n\n```json\n{\n  \"paradex-signature-expiration\": 1682364556,\n  \"paradex-starknet-account\": \"0x129f3dc1b8962d8a87abc692424c78fda963ade0e1cd17bf3d1c26f8d41ee7a\",\n  \"paradex-starknet-signature\": [\n    \"1381323390094460587764867648394252677239485992175346764030313478865763678671\",\n    \"396490140510115262427678549757564216013606350105112805717359873954984880589\"\n  ],\n  \"paradex-timestamp\": 1681759756\n}\n```\n",
        "operationId": "auth",
        "parameters": [
          {
            "name": "PARADEX-STARKNET-ACCOUNT",
            "in": "header",
            "description": "Starknet account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PARADEX-STARKNET-SIGNATURE",
            "in": "header",
            "description": "Starknet signature",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PARADEX-TIMESTAMP",
            "in": "header",
            "description": "Timestamp when the signature was created",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PARADEX-SIGNATURE-EXPIRATION",
            "in": "header",
            "description": "Timestamp when signature expires (default 30 min | Max 1 week)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PARADEX-AUTHORIZE-ISOLATED-MARKETS",
            "in": "header",
            "description": "Optional flag to authorize all isolated market accounts linked to the main account. When set to true, the returned JWT will grant trading access to all isolated accounts. Defaults to false if not specified",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AuthResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/balance": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List balances",
        "description": "Respond with requester's own balances\n",
        "operationId": "get-balance",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.APIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.BalanceResp"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/bbo/{market}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get market bbo",
        "description": "Get the best bid/ask for the given market\n",
        "operationId": "get-bbo",
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "description": "Market symbol - ex: BTC-USD-PERP",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BBOResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/bbo/{market}/interactive": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get market bbo including all orders including RPI (as seen by the UI)",
        "description": "Returns best bid/offer including all orders including RPI (as seen by the UI)",
        "operationId": "get-bbo-interactive",
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "description": "Market symbol - ex: BTC-USD-PERP",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BBOResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/block-trades": {
      "get": {
        "tags": [
          "BlockTrades"
        ],
        "summary": "List block trades",
        "description": "Get a paginated list of block trades with filtering.\n\nReturns block trades where user is initiator, required signer,\nor has submitted an offer.\n\n**Filters:**\n- Status: CREATED, OFFER_COLLECTION, READY_TO_EXECUTE, EXECUTING, COMPLETED, CANCELLED\n- Market: Specific market symbol (e.g., BTC-USD-PERP)\n\n**Returns:** Paginated list with block trade details and navigation metadata.\n",
        "operationId": "block-trades-list",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Block trade status filter",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "OFFER_COLLECTION",
                "READY_TO_EXECUTE",
                "EXECUTING",
                "COMPLETED",
                "CANCELLED"
              ]
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Market symbol filter, ex: BTC-USD-PERP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.PaginatedAPIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.BlockTradeDetailFullResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "BlockTrades"
        ],
        "summary": "Create block trade",
        "description": "Create a parent block trade for multi-party execution.\n\nBlock trades coordinate execution across multiple parties.\nThe initiator creates a parent block trade specifying trade details and\nrequired signers, who must submit offers before execution.\n\n**Requirements:**\n- Required signers must have active onboarding and block trade functionality\n- Valid StarkNet signature with expiration timestamp\n- Each trade specifies market, size, price, and order details\n\n**Workflow:**\n1. Initiator creates parent block trade\n2. Required signers submit offers\n3. Initiator executes with selected offers\n4. All trades processed together\n",
        "operationId": "block-trades-create",
        "requestBody": {
          "description": "Block trade content",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.BlockTradeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BlockTradeDetailFullResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "params"
      }
    },
    "/block-trades/{block_trade_id}": {
      "get": {
        "tags": [
          "BlockTrades"
        ],
        "summary": "Get block trade",
        "description": "Retrieve a specific block trade by ID with full details.\n\nReturns complete block trade information including status, trade details,\nsignatures, and offers.\n\n**Access:** Available to initiator, required signers,\nor accounts with submitted offers.\n\n**Returns:**\n- Block ID and status\n(CREATED, OFFER_COLLECTION, READY_TO_EXECUTE, EXECUTING, COMPLETED, CANCELLED)\n- Market-specific trade details with orders and fill information\n- All collected signatures from required signers\n- Creation time, last update, expiration, and participant information\n",
        "operationId": "block-trades-get",
        "parameters": [
          {
            "name": "block_trade_id",
            "in": "path",
            "description": "Block Trade ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BlockTradeDetailFullResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "BlockTrades"
        ],
        "summary": "Cancel block trade",
        "description": "Cancel a pending block trade.\n\nOnly the initiator can cancel a block trade in cancellable state\n(CREATED, OFFER_COLLECTION, READY_TO_EXECUTE).\nOnce cancelled,all associated offers become invalid.\n\n**Returns:** Success message confirming cancellation. Status updated to CANCELLED.\n",
        "operationId": "block-trades-cancel",
        "parameters": [
          {
            "name": "block_trade_id",
            "in": "path",
            "description": "Block Trade ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/block-trades/{block_trade_id}/execute": {
      "post": {
        "tags": [
          "BlockTrades"
        ],
        "summary": "Execute block trade",
        "description": "Execute a block trade with selected offers.\n\nExecutes a parent block trade by selecting specific offers from required signers.\n\n**Requirements:**\n- Called by block trade initiator\n- All selected offers must have valid, unexpired signatures\n- Required signers must have submitted offers for all markets\n- Block trade must be in READY_TO_EXECUTE state\n\n**Execution Process:**\n- All trades processed together\n- Creates fills and updates balances upon success\n- Participants receive fill notifications\n\n**Returns:** Executed block trade with status (COMPLETED/FAILED), fill details,\ntimestamps, and settlement info.\n",
        "operationId": "block-trades-execute",
        "parameters": [
          {
            "name": "block_trade_id",
            "in": "path",
            "description": "Block Trade ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Block execution parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.BlockExecuteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BlockTradeDetailFullResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "params"
      }
    },
    "/block-trades/{block_trade_id}/offers": {
      "get": {
        "tags": [
          "BlockTrades"
        ],
        "summary": "Get block trade offers",
        "description": "Get all offers for a specific block trade.\n\nReturns all offers submitted for a parent block trade by required signers.\n\n**Access:** Available to initiator, required signers,\nor accounts with submitted offers.\n\n**Returns:** Array of offers with:\n- Offer ID and parent block trade reference\n- Offering account and trade details per market\n- Execution signatures and timestamps\n- Current offer state and execution details\n",
        "operationId": "block-offers-list",
        "parameters": [
          {
            "name": "block_trade_id",
            "in": "path",
            "description": "Parent Block Trade ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.APIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.BlockTradeDetailFullResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "BlockTrades"
        ],
        "summary": "Create block trade offer",
        "description": "Create a sub-block offer for an existing block trade.\n\nRequired signers submit their order details and pricing for\nmarkets defined in the parent block trade.\n\n**Requirements:**\n- Account must be listed as required signer with active onboarding\n- Valid order signatures for all markets\n- Orders must match parent block trade constraints\n\n**Includes:**\n- Individual order signatures per market\n- Block trade execution signature with expiration\n- Proper nonce and signature verification data\n\nReturns the created offer with unique ID, parent reference, and order details.\n",
        "operationId": "block-offers-create",
        "parameters": [
          {
            "name": "block_trade_id",
            "in": "path",
            "description": "Parent Block Trade ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Block offer content",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.BlockOfferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BlockTradeDetailFullResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "params"
      }
    },
    "/block-trades/{block_trade_id}/offers/{offer_id}": {
      "get": {
        "tags": [
          "BlockTrades"
        ],
        "summary": "Get specific block trade offer",
        "description": "Get a specific offer by ID for a block trade.\n\nRetrieves detailed information about an offer submitted for a parent block trade.\n\n**Access:** Available to initiator, required signers, or the offering account.\n\n**Returns:**\n- Offer ID and parent block trade reference\n- Market-specific order information with pricing/sizing\n- StarkNet signatures and verification data\n- Execution status and timestamps\n",
        "operationId": "block-offers-get",
        "parameters": [
          {
            "name": "block_trade_id",
            "in": "path",
            "description": "Parent Block Trade ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offer_id",
            "in": "path",
            "description": "Offer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BlockTradeDetailFullResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "BlockTrades"
        ],
        "summary": "Cancel block trade offer",
        "description": "Cancel a pending offer for a block trade.\n\nOnly the offering account can cancel their own offer if it's in\na cancellable state and the parent block trade is still active.\n\n**Returns:** Success message confirming offer cancellation.\nStatus updated to CANCELLED.\n",
        "operationId": "block-offers-cancel",
        "parameters": [
          {
            "name": "block_trade_id",
            "in": "path",
            "description": "Parent Block Trade ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offer_id",
            "in": "path",
            "description": "Offer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/block-trades/{block_trade_id}/offers/{offer_id}/execute": {
      "post": {
        "tags": [
          "BlockTrades"
        ],
        "summary": "Execute individual offer",
        "description": "Execute a specific offer independently of the parent block trade.\n\nExecutes an individual offer without waiting for full block trade execution.\n\n**Requirements:**\n- Called by authorized account (initiator, offering account, or required signer)\n- Valid signatures from all required parties\n- Unexpired signatures and executable offer state\n\n**Independent Execution:**\n- Processes only the specific offer's trades\n- Does not require other offers to be ready\n- Executes all trades in the offer together\n\n**Returns:** Executed offer with status, fill details, timestamps, and updated balances.\n",
        "operationId": "block-offers-execute",
        "parameters": [
          {
            "name": "block_trade_id",
            "in": "path",
            "description": "Parent Block Trade ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offer_id",
            "in": "path",
            "description": "Offer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Offer execution parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.BlockExecuteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BlockTradeDetailFullResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ],
        "x-codegen-request-body-name": "params"
      }
    },
    "/fills": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List fills",
        "description": "This API returns a list of matched orders (i.e. fills) that have been sent to\r\nchain for settlement.\r\n",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Returns the ‘next’ paginated page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_at",
            "in": "query",
            "description": "End Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Market symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Limit the number of responses in the page",
            "schema": {
              "maximum": 5000,
              "minimum": 1,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "start_at",
            "in": "query",
            "description": "Start Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.PaginatedAPIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.FillResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/funding/data": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Funding data history",
        "description": "List historical funding data by market\n",
        "operationId": "get-funding-data",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Returns the ‘next’ paginated page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_at",
            "in": "query",
            "description": "End Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Market for which funding payments are queried",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Limit the number of responses in the page",
            "schema": {
              "maximum": 5000,
              "minimum": 1,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "start_at",
            "in": "query",
            "description": "Start Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.PaginatedAPIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.FundingDataResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/funding/payments": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Funding payments history",
        "description": "List funding payments made by/to the requester's account\n\n*Funding payments are periodic payments between traders to make the perpetual\nfutures contract price is close to the index price.*\n",
        "operationId": "get-funding",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Returns the ‘next’ paginated page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_at",
            "in": "query",
            "description": "End Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Market for which funding payments are queried",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Limit the number of responses in the page",
            "schema": {
              "maximum": 5000,
              "minimum": 1,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "start_at",
            "in": "query",
            "description": "Start Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.PaginatedAPIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.FundingPayment"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/insurance": {
      "get": {
        "tags": [
          "Insurance"
        ],
        "summary": "Get insurance fund account information",
        "description": "Get insurance fund account's information\n",
        "operationId": "get-insurance-fund",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InsuranceAccountResp"
                }
              }
            }
          }
        }
      }
    },
    "/liquidations": {
      "get": {
        "tags": [
          "Liquidations"
        ],
        "summary": "List liquidations",
        "description": "Retrieves a list of liquidations associated to the requester's account\n",
        "operationId": "get-liquidations",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.APIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.LiquidationResp"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "List available markets",
        "description": "Get markets static data component\n",
        "operationId": "get-markets",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "description": "Market Name - example: BTC-USD-PERP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.APIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.MarketResp"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/markets/klines": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "OHLCV for a symbol",
        "description": "Klines for a symbol",
        "operationId": "markets-klines",
        "parameters": [
          {
            "name": "end_at",
            "in": "query",
            "description": "end time for klines in milliseconds",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_kind",
            "in": "query",
            "description": "Which price to use for the klines",
            "schema": {
              "type": "string",
              "enum": [
                "last",
                "mark",
                "underlying"
              ],
              "x-enum-varnames": [
                "PriceKindLast",
                "PriceKindMark",
                "PriceKindUnderlying"
              ]
            },
            "x-enum-varnames": [
              "PriceKindLast",
              "PriceKindMark",
              "PriceKindUnderlying"
            ]
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "resolution in minutes: 1, 3, 5, 15, 30, 60",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_at",
            "in": "query",
            "description": "start time for klines in milliseconds",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol of the market pair",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/markets/summary": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "List available markets summary",
        "description": "Get markets dynamic data component\n",
        "operationId": "get-markets-summary",
        "parameters": [
          {
            "name": "end",
            "in": "query",
            "description": "End Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Name of the market for which summary is requested (for all available markets use ALL)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start Time (unix time millisecond)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.APIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.MarketSummaryResp"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/onboarding": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Onboarding",
        "description": "Onboarding verifies that the caller owns the StarkNet address and enters them\ninto the database. This call is idempotent.\n",
        "operationId": "onboarding",
        "parameters": [
          {
            "name": "PARADEX-ETHEREUM-ACCOUNT",
            "in": "header",
            "description": "Ethereum account used to onboard",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PARADEX-STARKNET-ACCOUNT",
            "in": "header",
            "description": "Starknet address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PARADEX-STARKNET-SIGNATURE",
            "in": "header",
            "description": "Starknet signature",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Onboarding user public_key and optional referral_code or marketing_code",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.Onboarding"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An empty response",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/orderbook/{market}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get market orderbook",
        "description": "Get snapshot of the orderbook for the given market\n",
        "operationId": "get-orderbook",
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "description": "Market symbol - ex: BTC-USD-PERP",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Depth",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "price_tick",
            "in": "query",
            "description": "Price tick for aggregation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AskBidArray"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/orderbook/{market}/impact-price": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get market impact price",
        "operationId": "get-impact-price",
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "description": "Market symbol - ex: BTC-USD-PERP",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ImpactPriceResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/orderbook/{market}/interactive": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Get market interactive orderbook",
        "description": "Returns orderbook including RPI",
        "operationId": "get-orderbook-interactive",
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "description": "Market symbol - ex: BTC-USD-PERP",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Depth",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "price_tick",
            "in": "query",
            "description": "Price tick for aggregation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.AskBidArray"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get open orders",
        "description": "Get current user all open orders\n",
        "operationId": "get-open-orders",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "description": "Market symbol, ex: BTC-USD-PERP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/responses.APIResults"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/responses.OrderResp"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create order",
[...]
