{
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "swagger": "2.0",
  "info": {
    "description": "The following describe Paradex API.\n",
    "title": "Paradex REST API",
    "contact": {},
    "version": "1.102.3"
  },
  "host": "api.prod.paradex.trade",
  "basePath": "/v1",
  "paths": {
    "/account": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Respond with requester's account information\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Get account information",
        "operationId": "get-account",
        "parameters": [
          {
            "type": "string",
            "description": "Subaccount address",
            "name": "subaccount_address",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AccountSummaryResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/history": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Respond with requester's account information\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Get account history",
        "operationId": "get-account-history",
        "parameters": [
          {
            "enum": [
              "pnl",
              "value",
              "volume",
              "fee_savings"
            ],
            "type": "string",
            "description": "Type of data",
            "name": "type",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AccountHistoricalDataResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/info": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Return account info of current account",
        "operationId": "get-accounts-info",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.GetAccountsInfoResponse"
            }
          }
        }
      }
    },
    "/account/margin": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get margin configuration for an account and market",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Get account margin configuration",
        "operationId": "get-account-margin",
        "parameters": [
          {
            "type": "string",
            "description": "Market Name - example: BTC-USD-PERP",
            "name": "market",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.GetAccountMarginConfigsResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/margin/{market}": {
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Set margin configuration for an account and market",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Set margin configuration",
        "operationId": "upsert-account-margin",
        "parameters": [
          {
            "type": "string",
            "description": "Market Name - example: BTC-USD-PERP",
            "name": "market",
            "in": "path",
            "required": true
          },
          {
            "description": "Margin Configuration",
            "name": "config",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.AccountMarginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.UpdateAccountMarginConfigResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/profile": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Respond with requester's account information\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Get account profile information",
        "operationId": "get-account-profile",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AccountProfileResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/profile/market_max_slippage/{market}": {
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Respond with requester's account max_slippage\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Updates account max slippage for a specific market",
        "operationId": "update-account-market-max-slippage",
        "parameters": [
          {
            "type": "string",
            "description": "{base_currency}-{quote_currency}-{kind}",
            "name": "market",
            "in": "path",
            "required": true
          },
          {
            "description": "Update market max slippage request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.UpdateAccountMaxSlippageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AccountProfileResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/profile/notifications": {
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Updates user notification preferences for orders, fills, announcements, and transfers. All fields are optional - only provided fields will be updated.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Updates account notification preferences",
        "operationId": "update-account-notification-preferences",
        "parameters": [
          {
            "description": "Update notification preferences request (all fields optional)",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.UpdateNotificationPreferencesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AccountProfileResp"
            }
          },
          "400": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/profile/referral_code": {
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Respond with requester's account information\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Updates account profile fields",
        "operationId": "update-account-profile-referral-code",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AccountProfileResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/profile/size_currency_display": {
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "To set user preferences for the size currency display on the UI, BASE will use base currency, and QUOTE will use quote currency.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Updates account size currency display preference",
        "operationId": "update-account-size-currency-display",
        "parameters": [
          {
            "description": "Update account size currency display request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.UpdateSizeCurrencyDisplayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AccountProfileResp"
            }
          },
          "400": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/profile/username": {
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Respond with requester's account information\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Updates account profile username fields",
        "operationId": "update-account-profile-username",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AccountProfileResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/referrer": {
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Add missing account referrer within a certain time window after account creation.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Updates account referred_by field",
        "operationId": "update-account-referrer",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AccountProfileResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/settings": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get account settings",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Get account settings",
        "operationId": "get-account-settings",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AccountSettingsResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/settings/trading_value_display": {
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "To set user preferences for the trading value display on the UI, Spot Notional will use spot price, and Market Value will use the market price.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Updates account trading value display",
        "operationId": "update-account-trading-value-display",
        "parameters": [
          {
            "description": "Update account trading value display request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.UpdateTradingValueDisplayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AccountProfileResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/subaccounts": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Respond with requester's list of sub-accounts\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "List sub-accounts of current account",
        "operationId": "get-sub-accounts",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.GetSubAccountsResponse"
            }
          }
        }
      }
    },
    "/account/subkeys": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get all subkeys for the authenticated account with optional filtering by status.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Subkey"
        ],
        "summary": "List Subkeys",
        "operationId": "list-subkeys",
        "parameters": [
          {
            "type": "boolean",
            "description": "Include revoked subkeys",
            "name": "with_revoked",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of subkeys",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.Subkey"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Register a new subkey for the authenticated account.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Subkey"
        ],
        "summary": "Register Subkey",
        "operationId": "register-subkey",
        "parameters": [
          {
            "description": "Subkey registration request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.CreateSubkey"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "An empty response"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/subkeys/{public_key}": {
      "delete": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Revoke a subkey for the authenticated account.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Subkey"
        ],
        "summary": "Revoke Subkey",
        "operationId": "revoke-subkey",
        "parameters": [
          {
            "type": "string",
            "description": "Subkey public key",
            "name": "public_key",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Subkey revoked successfully",
            "schema": {
              "$ref": "#/definitions/responses.RevokeSubkeyResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/summary": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Respond with account summaries for the account plus all authorized accounts.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Get account summaries (main account + authorized accounts)",
        "operationId": "get-accounts",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.AccountSummaryResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/tokens": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get all tokens for the authenticated account with optional filtering by kind\nand status.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Token"
        ],
        "summary": "List tokens",
        "operationId": "list-tokens",
        "parameters": [
          {
            "type": "string",
            "description": "Filter by token kind (e.g., 'jwt', 'api_key')",
            "name": "kind",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include revoked and expired tokens",
            "name": "with_invalid",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tokens",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.ApiToken"
                      }
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Create a new authentication token for the authenticated account with custom\nname and expiration duration.\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Token"
        ],
        "summary": "Create token",
        "operationId": "create-token",
        "parameters": [
          {
            "description": "Token creation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.CreateToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token created successfully",
            "schema": {
              "$ref": "#/definitions/responses.CreateTokenResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/account/tokens/{lookup_id}": {
      "delete": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Revoke an authentication token by its unique identifier.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Token"
        ],
        "summary": "Revoke token",
        "operationId": "revoke-token",
        "parameters": [
          {
            "type": "string",
            "description": "Token lookup ID",
            "name": "lookup_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Token revoked successfully",
            "schema": {
              "$ref": "#/definitions/responses.RevokeTokenResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/algo/orders": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get current user all open algo orders\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Algos"
        ],
        "summary": "Get open algo orders",
        "operationId": "get-open-algo-orders",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.AlgoOrderResp"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Create a new algo order\n\n### TWAP\n\nTWAP orders break a large trade into smaller ones over time to reduce market impact:\n- Sub-orders are placed every 30 seconds.\n- Order duration is between 30 and 86,400 seconds, in multiples of 30.\n- Supported sub order type: MARKET\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Algos"
        ],
        "summary": "Create algo order",
        "operationId": "create-algo-order",
        "parameters": [
          {
            "description": "Algo order content",
            "name": "params",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.AlgoOrderRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/responses.AlgoOrderResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/algo/orders-history": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get current user algo orders filtered on attributes\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Algos"
        ],
        "summary": "Get algo orders history",
        "operationId": "get-algo-orders-history",
        "parameters": [
          {
            "type": "string",
            "example": "client-id",
            "description": "Unique ID of client generating the order",
            "name": "client_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Returns the ‘next’ paginated page.",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "End Time (unix time millisecond)",
            "name": "end_at",
            "in": "query"
          },
          {
            "type": "string",
            "example": "BTC-USD-PERP",
            "description": "Market for the order",
            "name": "market",
            "in": "query"
          },
          {
            "maximum": 5000,
            "minimum": 1,
            "type": "integer",
            "default": 100,
            "description": "Limit the number of responses in the page",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": [
              "BUY",
              "SELL"
            ],
            "type": "string",
            "description": "Order side",
            "name": "side",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start Time (unix time millisecond)",
            "name": "start_at",
            "in": "query"
          },
          {
            "enum": [
              "OPEN",
              "CLOSED",
              "NEW"
            ],
            "type": "string",
            "description": "Order status",
            "name": "status",
            "in": "query"
          },
          {
            "enum": [
              "LIMIT",
              "MARKET",
              "STOP_LIMIT",
              "STOP_MARKET",
              "STOP_LOSS_LIMIT",
              "STOP_LOSS_MARKET",
              "TAKE_PROFIT_LIMIT",
              "TAKE_PROFIT_MARKET"
            ],
            "type": "string",
            "description": "Order type",
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.PaginatedAPIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.AlgoOrderResp"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/algo/orders/{algo_id}": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get an algo order by id. Only return algo order in `OPEN` or `NEW` status.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Algos"
        ],
        "summary": "Get algo order by id",
        "operationId": "get-algo-order-by-id",
        "parameters": [
          {
            "type": "string",
            "description": "Algo ID",
            "name": "algo_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AlgoOrderResp"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Cancel an existing algo order by id\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Algos"
        ],
        "summary": "Cancel algo order by id",
        "operationId": "cancel-algo-order",
        "parameters": [
          {
            "type": "string",
            "description": "Algo ID",
            "name": "algo_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/auth": {
      "post": {
        "description": "Authenticate using signed payload to get a JWT for usage in other endpoints\n\nThere are multiple valid headers required to be sent as part of this request.\n\nFor onboarding examples, refer to `go`, `java` and `python` code in [code-samples](https://github.com/tradeparadex/code-samples).\n\n#### StarkNet Message Hash and Signature\n\nInspired by [EIP-712](https://eips.ethereum.org/EIPS/eip-712),\n(a standard for hashing and signing typed structured data)\nthe encoding of an off-chain message is defined as:\n\n`signed_data = Enc[PREFIX_MESSAGE, domain_separator, account, hash_struct(message)]`\n\nwhere:\n\n- `PREFIX_MESSAGE = \"StarkNet Message\"`\n- `domain_separator` is defined as the `hash_struct` of the StarkNetDomain struct:\n  * Struct contains: `name`, `chainId` and `version`\n  * `chainId` is can be obtained calling `GET /system/config`\n- `account` is the StarkNet account address\n- The message to be hashed is represented as a struct\n  * `hash_struct(message) = Enc[type_hash(MyStruct), Enc[param1], ..., Enc[paramN]]`\n  * where `type_hash` is defined as in EIP-712 (but using `selector` instead of `keccak`)\n  * More details on StarkNet - [Hash Functions](https://docs.starknet.io/architecture-and-concepts/cryptography/#hash_functions)\n\nIn case of more complex structure of object, you have to work in the spirit of EIP-712.\nThis json structure has 4 mandatory items: `types`, `primaryType`, `domain` and `message`.\nThese items are designed to be able to be an interface with a wallet.\nAt sign request, the wallet will display:\n\n- `message` will be displayed at the bottom of the wallet display,\nshowing clearly (not in hex) the message to sign.\nIts structure has to be in accordance with the type listed in primaryType,\ndefined in types.\n- `domain` will be shown above the message.\nIts structure has to be in accordance with `StarkNetDomain`.\n\nThe predefined types that you can use :\n\n- `felt` : for an integer on 251 bits.\n- `felt*` : for an array of felt.\n- `string` : for a shortString of 31 ASCII characters max.\n- `selector` : for a name of a smart contract function.\n- `merkletree` : for a Root of a Merkle tree, calculated with the provided data.\n\nSpecification details: [Signing transactions and off-chain messages](https://github.com/argentlabs/argent-x/discussions/14)\n\n#### Message Hash Sample Code\n\nFor a complete `message_hash` example, refer to `python` code in [code-samples](https://github.com/tradeparadex/code-samples).\n\n> Examples:\n\n```json\n{\n  \"paradex-signature-expiration\": 1682364556,\n  \"paradex-starknet-account\": \"0x129f3dc1b8962d8a87abc692424c78fda963ade0e1cd17bf3d1c26f8d41ee7a\",\n  \"paradex-starknet-signature\": [\n    \"1381323390094460587764867648394252677239485992175346764030313478865763678671\",\n    \"396490140510115262427678549757564216013606350105112805717359873954984880589\"\n  ],\n  \"paradex-timestamp\": 1681759756\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Authentication"
        ],
        "summary": "Get JWT",
        "operationId": "auth",
        "parameters": [
          {
            "type": "string",
            "description": "Starknet account",
            "name": "PARADEX-STARKNET-ACCOUNT",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Starknet signature",
            "name": "PARADEX-STARKNET-SIGNATURE",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Timestamp when the signature was created",
            "name": "PARADEX-TIMESTAMP",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Timestamp when signature expires (default 30 min | Max 1 week)",
            "name": "PARADEX-SIGNATURE-EXPIRATION",
            "in": "header"
          },
          {
            "type": "string",
            "description": "Optional flag to authorize all isolated market accounts linked to the main account. When set to true, the returned JWT will grant trading access to all isolated accounts. Defaults to false if not specified",
            "name": "PARADEX-AUTHORIZE-ISOLATED-MARKETS",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AuthResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/balance": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Respond with requester's own balances\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "List balances",
        "operationId": "get-balance",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.BalanceResp"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/bbo/{market}": {
      "get": {
        "description": "Get the best bid/ask for the given market\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Markets"
        ],
        "summary": "Get market bbo",
        "operationId": "get-bbo",
        "parameters": [
          {
            "type": "string",
            "description": "Market symbol - ex: BTC-USD-PERP",
            "name": "market",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.BBOResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/block-trades": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get a paginated list of block trades with filtering.\n\nReturns block trades where user is initiator, required signer,\nor has submitted an offer.\n\n**Filters:**\n- Status: CREATED, OFFER_COLLECTION, READY_TO_EXECUTE, EXECUTING, COMPLETED, CANCELLED\n- Market: Specific market symbol (e.g., BTC-USD-PERP)\n\n**Returns:** Paginated list with block trade details and navigation metadata.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "BlockTrades"
        ],
        "summary": "List block trades",
        "operationId": "block-trades-list",
        "parameters": [
          {
            "enum": [
              "CREATED",
              "OFFER_COLLECTION",
              "READY_TO_EXECUTE",
              "EXECUTING",
              "COMPLETED",
              "CANCELLED"
            ],
            "type": "string",
            "description": "Block trade status filter",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Market symbol filter, ex: BTC-USD-PERP",
            "name": "market",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.PaginatedAPIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.BlockTradeDetailFullResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Create a parent block trade for multi-party execution.\n\nBlock trades coordinate execution across multiple parties.\nThe initiator creates a parent block trade specifying trade details and\nrequired signers, who must submit offers before execution.\n\n**Requirements:**\n- Required signers must have active onboarding and block trade functionality\n- Valid StarkNet signature with expiration timestamp\n- Each trade specifies market, size, price, and order details\n\n**Workflow:**\n1. Initiator creates parent block trade\n2. Required signers submit offers\n3. Initiator executes with selected offers\n4. All trades processed together\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "BlockTrades"
        ],
        "summary": "Create block trade",
        "operationId": "block-trades-create",
        "parameters": [
          {
            "description": "Block trade content",
            "name": "params",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.BlockTradeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/responses.BlockTradeDetailFullResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/block-trades/{block_trade_id}": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Retrieve a specific block trade by ID with full details.\n\nReturns complete block trade information including status, trade details,\nsignatures, and offers.\n\n**Access:** Available to initiator, required signers,\nor accounts with submitted offers.\n\n**Returns:**\n- Block ID and status\n(CREATED, OFFER_COLLECTION, READY_TO_EXECUTE, EXECUTING, COMPLETED, CANCELLED)\n- Market-specific trade details with orders and fill information\n- All collected signatures from required signers\n- Creation time, last update, expiration, and participant information\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "BlockTrades"
        ],
        "summary": "Get block trade",
        "operationId": "block-trades-get",
        "parameters": [
          {
            "type": "string",
            "description": "Block Trade ID",
            "name": "block_trade_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.BlockTradeDetailFullResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Cancel a pending block trade.\n\nOnly the initiator can cancel a block trade in cancellable state\n(CREATED, OFFER_COLLECTION, READY_TO_EXECUTE).\nOnce cancelled,all associated offers become invalid.\n\n**Returns:** Success message confirming cancellation. Status updated to CANCELLED.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "BlockTrades"
        ],
        "summary": "Cancel block trade",
        "operationId": "block-trades-cancel",
        "parameters": [
          {
            "type": "string",
            "description": "Block Trade ID",
            "name": "block_trade_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/block-trades/{block_trade_id}/execute": {
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Execute a block trade with selected offers.\n\nExecutes a parent block trade by selecting specific offers from required signers.\n\n**Requirements:**\n- Called by block trade initiator\n- All selected offers must have valid, unexpired signatures\n- Required signers must have submitted offers for all markets\n- Block trade must be in READY_TO_EXECUTE state\n\n**Execution Process:**\n- All trades processed together\n- Creates fills and updates balances upon success\n- Participants receive fill notifications\n\n**Returns:** Executed block trade with status (COMPLETED/FAILED), fill details,\ntimestamps, and settlement info.\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "BlockTrades"
        ],
        "summary": "Execute block trade",
        "operationId": "block-trades-execute",
        "parameters": [
          {
            "type": "string",
            "description": "Block Trade ID",
            "name": "block_trade_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Block execution parameters",
            "name": "params",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.BlockExecuteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.BlockTradeDetailFullResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/block-trades/{block_trade_id}/offers": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get all offers for a specific block trade.\n\nReturns all offers submitted for a parent block trade by required signers.\n\n**Access:** Available to initiator, required signers,\nor accounts with submitted offers.\n\n**Returns:** Array of offers with:\n- Offer ID and parent block trade reference\n- Offering account and trade details per market\n- Execution signatures and timestamps\n- Current offer state and execution details\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "BlockTrades"
        ],
        "summary": "Get block trade offers",
        "operationId": "block-offers-list",
        "parameters": [
          {
            "type": "string",
            "description": "Parent Block Trade ID",
            "name": "block_trade_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.BlockTradeDetailFullResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Create a sub-block offer for an existing block trade.\n\nRequired signers submit their order details and pricing for\nmarkets defined in the parent block trade.\n\n**Requirements:**\n- Account must be listed as required signer with active onboarding\n- Valid order signatures for all markets\n- Orders must match parent block trade constraints\n\n**Includes:**\n- Individual order signatures per market\n- Block trade execution signature with expiration\n- Proper nonce and signature verification data\n\nReturns the created offer with unique ID, parent reference, and order details.\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "BlockTrades"
        ],
        "summary": "Create block trade offer",
        "operationId": "block-offers-create",
        "parameters": [
          {
            "type": "string",
            "description": "Parent Block Trade ID",
            "name": "block_trade_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Block offer content",
            "name": "params",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.BlockOfferRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/responses.BlockTradeDetailFullResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/block-trades/{block_trade_id}/offers/{offer_id}": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get a specific offer by ID for a block trade.\n\nRetrieves detailed information about an offer submitted for a parent block trade.\n\n**Access:** Available to initiator, required signers, or the offering account.\n\n**Returns:**\n- Offer ID and parent block trade reference\n- Market-specific order information with pricing/sizing\n- StarkNet signatures and verification data\n- Execution status and timestamps\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "BlockTrades"
        ],
        "summary": "Get specific block trade offer",
        "operationId": "block-offers-get",
        "parameters": [
          {
            "type": "string",
            "description": "Parent Block Trade ID",
            "name": "block_trade_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Offer ID",
            "name": "offer_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.BlockTradeDetailFullResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Cancel a pending offer for a block trade.\n\nOnly the offering account can cancel their own offer if it's in\na cancellable state and the parent block trade is still active.\n\n**Returns:** Success message confirming offer cancellation.\nStatus updated to CANCELLED.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "BlockTrades"
        ],
        "summary": "Cancel block trade offer",
        "operationId": "block-offers-cancel",
        "parameters": [
          {
            "type": "string",
            "description": "Parent Block Trade ID",
            "name": "block_trade_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Offer ID",
            "name": "offer_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/block-trades/{block_trade_id}/offers/{offer_id}/execute": {
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Execute a specific offer independently of the parent block trade.\n\nExecutes an individual offer without waiting for full block trade execution.\n\n**Requirements:**\n- Called by authorized account (initiator, offering account, or required signer)\n- Valid signatures from all required parties\n- Unexpired signatures and executable offer state\n\n**Independent Execution:**\n- Processes only the specific offer's trades\n- Does not require other offers to be ready\n- Executes all trades in the offer together\n\n**Returns:** Executed offer with status, fill details, timestamps, and updated balances.\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "BlockTrades"
        ],
        "summary": "Execute individual offer",
        "operationId": "block-offers-execute",
        "parameters": [
          {
            "type": "string",
            "description": "Parent Block Trade ID",
            "name": "block_trade_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Offer ID",
            "name": "offer_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Offer execution parameters",
            "name": "params",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.BlockExecuteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.BlockTradeDetailFullResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/fills": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "This API returns a list of matched orders (i.e. fills) that have been sent to\r\nchain for settlement.\r\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "List fills",
        "parameters": [
          {
            "type": "string",
            "description": "Returns the ‘next’ paginated page.",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "End Time (unix time millisecond)",
            "name": "end_at",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Market symbol",
            "name": "market",
            "in": "query"
          },
          {
            "maximum": 5000,
            "minimum": 1,
            "type": "integer",
            "default": 100,
            "description": "Limit the number of responses in the page",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start Time (unix time millisecond)",
            "name": "start_at",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.PaginatedAPIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.FillResult"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/funding/data": {
      "get": {
        "description": "List historical funding data by market\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Markets"
        ],
        "summary": "Funding data history",
        "operationId": "get-funding-data",
        "parameters": [
          {
            "type": "string",
            "description": "Returns the ‘next’ paginated page.",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "End Time (unix time millisecond)",
            "name": "end_at",
            "in": "query"
          },
          {
            "type": "string",
            "example": "BTC-USD-PERP",
            "description": "Market for which funding payments are queried",
            "name": "market",
            "in": "query",
            "required": true
          },
          {
            "maximum": 5000,
            "minimum": 1,
            "type": "integer",
            "default": 100,
            "description": "Limit the number of responses in the page",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start Time (unix time millisecond)",
            "name": "start_at",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.PaginatedAPIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.FundingDataResult"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/funding/payments": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "List funding payments made by/to the requester's account\n\n*Funding payments are periodic payments between traders to make the perpetual\nfutures contract price is close to the index price.*\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "Funding payments history",
        "operationId": "get-funding",
        "parameters": [
          {
            "type": "string",
            "description": "Returns the ‘next’ paginated page.",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "End Time (unix time millisecond)",
            "name": "end_at",
            "in": "query"
          },
          {
            "type": "string",
            "example": "BTC-USD-PERP",
            "description": "Market for which funding payments are queried",
            "name": "market",
            "in": "query",
            "required": true
          },
          {
            "maximum": 5000,
            "minimum": 1,
            "type": "integer",
            "default": 100,
            "description": "Limit the number of responses in the page",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start Time (unix time millisecond)",
            "name": "start_at",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.PaginatedAPIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.FundingPayment"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/insurance": {
      "get": {
        "description": "Get insurance fund account's information\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Insurance"
        ],
        "summary": "Get insurance fund account information",
        "operationId": "get-insurance-fund",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.InsuranceAccountResp"
            }
          }
        }
      }
    },
    "/liquidations": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Retrieves a list of liquidations associated to the requester's account\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Liquidations"
        ],
        "summary": "List liquidations",
        "operationId": "get-liquidations",
        "parameters": [
          {
            "type": "integer",
            "description": "Start Time (unix time millisecond)",
            "name": "from",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "End Time (unix time millisecond)",
            "name": "to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.LiquidationResp"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/markets": {
      "get": {
        "description": "Get markets static data component\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Markets"
        ],
        "summary": "List available markets",
        "operationId": "get-markets",
        "parameters": [
          {
            "type": "string",
            "description": "Market Name - example: BTC-USD-PERP",
            "name": "market",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.MarketResp"
                      }
                    }
                  }
                }
              ]
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/markets/klines": {
      "get": {
        "description": "Klines for a symbol",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Markets"
        ],
        "summary": "OHLCV for a symbol",
        "operationId": "markets-klines",
        "parameters": [
          {
            "type": "integer",
            "description": "end time for klines in milliseconds",
            "name": "end_at",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "last",
              "mark",
              "underlying"
            ],
            "type": "string",
            "x-enum-varnames": [
              "PriceKindLast",
              "PriceKindMark",
              "PriceKindUnderlying"
            ],
            "description": "Which price to use for the klines",
            "name": "price_kind",
            "in": "query"
          },
          {
            "type": "string",
            "description": "resolution in minutes: 1, 3, 5, 15, 30, 60",
            "name": "resolution",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "start time for klines in milliseconds",
            "name": "start_at",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Symbol of the market pair",
            "name": "symbol",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/markets/summary": {
      "get": {
        "description": "Get markets dynamic data component\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Markets"
        ],
        "summary": "List available markets summary",
        "operationId": "get-markets-summary",
        "parameters": [
          {
            "type": "integer",
            "description": "End Time (unix time millisecond)",
            "name": "end",
            "in": "query"
          },
          {
            "type": "string",
            "example": "BTC-USD-PERP",
            "description": "Name of the market for which summary is requested (for all available markets use ALL)",
            "name": "market",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "description": "Start Time (unix time millisecond)",
            "name": "start",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.MarketSummaryResp"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/onboarding": {
      "post": {
        "description": "Onboarding verifies that the caller owns the StarkNet address and enters them\ninto the database. This call is idempotent.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Authentication"
        ],
        "summary": "Onboarding",
        "operationId": "onboarding",
        "parameters": [
          {
            "type": "string",
            "description": "Ethereum account used to onboard",
            "name": "PARADEX-ETHEREUM-ACCOUNT",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Starknet address",
            "name": "PARADEX-STARKNET-ACCOUNT",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Starknet signature",
            "name": "PARADEX-STARKNET-SIGNATURE",
            "in": "header",
            "required": true
          },
          {
            "description": "Onboarding user public_key and optional referral_code or marketing_code",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.Onboarding"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An empty response"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/orderbook/{market}": {
      "get": {
        "description": "Get snapshot of the orderbook for the given market\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Markets"
        ],
        "summary": "Get market orderbook",
        "operationId": "get-orderbook",
        "parameters": [
          {
            "type": "string",
            "description": "Market symbol - ex: BTC-USD-PERP",
            "name": "market",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Depth",
            "name": "depth",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.AskBidArray"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/orderbook/{market}/impact-price": {
      "get": {
        "produces": [
          "application/json"
        ],
        "tags": [
          "Markets"
        ],
        "summary": "Get market impact price",
        "operationId": "get-impact-price",
        "parameters": [
          {
            "type": "string",
            "description": "Market symbol - ex: BTC-USD-PERP",
            "name": "market",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Size",
            "name": "size",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.ImpactPriceResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get current user all open orders\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Orders"
        ],
        "summary": "Get open orders",
        "operationId": "get-open-orders",
        "parameters": [
          {
            "type": "string",
            "description": "Market symbol, ex: BTC-USD-PERP",
            "name": "market",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.OrderResp"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Submits a new order to Paradex.\n\nReturns an order status object with a unique order `id` assigned by Paradex. This\norder `id` serves as the primary identifier for the order.\n\nThe REST API performs basic validation and queues the order for risk checks\n(order `status`=`NEW`).\n\nOnce validation and risk checks are successful, the order is sent to the matching\nengine. The matching engine processes the order and updates the status to `OPEN`\nif the order is resting. If the order is fully filled or cannot be processed, the\nstatus changes to `CLOSED` and a `cancel_reason` code is provided (e.g., fully\nfilled or no liquidity).\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Orders"
        ],
        "summary": "Create order",
        "operationId": "orders-new",
        "parameters": [
          {
            "description": "Order content",
            "name": "params",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.OrderRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/responses.OrderResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Orders"
        ],
        "summary": "Cancel all open orders",
        "operationId": "orders-cancel-all",
        "parameters": [
          {
            "type": "string",
            "description": "Market to cancel orders for",
            "name": "market",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/orders-history": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get current user orders filtered on attributes\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Orders"
        ],
        "summary": "Get orders",
        "operationId": "get-orders",
        "parameters": [
          {
            "type": "string",
            "example": "client-id",
            "description": "Unique ID of client generating the order",
            "name": "client_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Returns the ‘next’ paginated page.",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "End Time (unix time millisecond)",
            "name": "end_at",
            "in": "query"
          },
          {
            "type": "string",
            "example": "BTC-USD-PERP",
            "description": "Market for the order",
            "name": "market",
            "in": "query"
          },
          {
            "maximum": 5000,
            "minimum": 1,
            "type": "integer",
            "default": 100,
            "description": "Limit the number of responses in the page",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": [
              "BUY",
              "SELL"
            ],
            "type": "string",
            "description": "Order side",
            "name": "side",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start Time (unix time millisecond)",
            "name": "start_at",
            "in": "query"
          },
          {
            "enum": [
              "OPEN",
              "CLOSED",
              "NEW"
            ],
            "type": "string",
            "description": "Order status",
            "name": "status",
            "in": "query"
          },
          {
            "enum": [
              "LIMIT",
              "MARKET",
              "STOP_LIMIT",
              "STOP_MARKET",
              "STOP_LOSS_LIMIT",
              "STOP_LOSS_MARKET",
              "TAKE_PROFIT_LIMIT",
              "TAKE_PROFIT_MARKET"
            ],
            "type": "string",
            "description": "Order type",
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.PaginatedAPIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.OrderResp"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/orders/batch": {
      "post": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Place a batch of orders\n\n+ Valid batch size is between 1-10 order(s)\n+ If basic validation(including signature) fails - all orders will be rejected.\n+ Orders are queued for risk checking independently and failure of one order\n  doesn't affect processing of another order.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Orders"
        ],
        "summary": "Create batch of orders",
        "operationId": "orders-new-batch",
        "parameters": [
          {
            "description": "Order content",
            "name": "params",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/requests.OrderRequest"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/responses.BatchResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Queues cancellation for multiple orders by providing identifiers in a batch.\n\nThe request body can contain either or both of:\n- `order_ids`: Array of order IDs assigned by Paradex\n- `client_order_ids`: Array of client-assigned order IDs\n\n```json\n{\n  \"order_ids\": [\"order-id-1\", \"order-id-2\"],\n  \"client_order_ids\": [\"client-id-1\", \"client-id-2\"]\n}\n```\n\nReturns a 200 OK status code with detailed results for each order:\n\n```json\n{\n  \"results\": [\n    {\n      \"id\": \"order-id-1\",\n      \"client_id\": \"client-id-X\",\n      \"account\": \"account-1\",\n      \"market\": \"BTC-USD-PERP\",\n      \"status\": \"QUEUED_FOR_CANCELLATION\"\n    },\n    {\n      \"id\": \"order-id-2\",\n      \"client_id\": \"client-id-Y\",\n      \"account\": \"account-1\",\n      \"market\": \"ETH-USD-PERP\",\n      \"status\": \"ALREADY_CLOSED\"\n    },\n    {\n      \"id\": \"order-id-3\",\n      \"client_id\": \"client-id-1\",\n      \"account\": \"account-1\",\n      \"market\": \"BTC-USD-PERP\",\n      \"status\": \"QUEUED_FOR_CANCELLATION\"\n    },\n    {\n      \"client_id\": \"client-id-2\",\n      \"status\": \"NOT_FOUND\"\n    }\n  ]\n}\n```\n\nEach result includes:\n- `id`: Order ID (if the order was found)\n- `client_id`: Client order ID (if available)\n- `account`: Account that owns the order\n- `market`: Market of the order\n- `status`: One of:\n  + `QUEUED_FOR_CANCELLATION`: Order was successfully queued for cancellation\n  + `ALREADY_CLOSED`: Order was already in a closed state\n  + `NOT_FOUND`: The order with the provided ID/client ID was not found\n\nConfirmation of cancellation will be sent via websocket or can be verified from\nGET /orders/:id endpoint.\n\nOrders that are already in a CLOSED state will be included in the response with\nstatus \"ALREADY_CLOSED\".\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Orders"
        ],
        "summary": "Cancel batch of orders by order IDs",
        "operationId": "orders-cancel-batch",
        "parameters": [
          {
            "description": "Order IDs to cancel",
            "name": "params",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.CancelOrderBatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cancellation results",
            "schema": {
              "$ref": "#/definitions/responses.CancelOrderBatchResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/orders/by_client_id/{client_id}": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get an order by client id. Only returns orders in `OPEN` status.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Orders"
        ],
        "summary": "Get order by client id",
        "operationId": "orders-get-by-client-id",
        "parameters": [
          {
            "type": "string",
            "description": "Client Order Id",
            "name": "client_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.OrderResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Orders"
        ],
        "summary": "Cancel open order by client order id",
        "operationId": "orders-cancel-by-client-id",
        "parameters": [
          {
            "type": "string",
            "description": "Client Order Id",
            "name": "client_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/orders/{order_id}": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get an order by id. Only return orders in `OPEN` or `NEW` status.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Orders"
        ],
        "summary": "Get order",
        "operationId": "orders-get",
        "parameters": [
          {
            "type": "string",
            "description": "Order Id",
            "name": "order_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.OrderResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Modify an existing open order by changing its price and/or size.\nThe modified order maintains its original order ID.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Orders"
        ],
        "summary": "Modify order",
        "operationId": "orders-modify",
        "parameters": [
          {
            "type": "string",
            "description": "Order Id",
            "name": "order_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Modify Order Request",
            "name": "order_request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/requests.ModifyOrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responses.OrderResp"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Queues a cancellation for a specific order identified by its order ID (assigned by\nParadex).\n\nReturns a 204 No Content status code with no response body which means the order\nhas been queued for cancellation.\n\nConfirmation of cancellation will be sent via websocket or can be retried from\nGET /orders/:id endpoint.\n\nOrders that are already in a CLOSED state cannot be canceled.\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Orders"
        ],
        "summary": "Cancel order",
        "operationId": "orders-cancel",
        "parameters": [
          {
            "type": "string",
            "description": "Order Id",
            "name": "order_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/positions": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get all positions owned by current user\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Account"
        ],
        "summary": "List open positions",
        "operationId": "get-positions",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.PositionResp"
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/referrals/qr-code": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Returns a QR code image containing the user's referral link",
        "produces": [
          "image/png"
        ],
        "tags": [
          "Referrals"
        ],
        "summary": "Get Referral QR Code",
        "operationId": "get-referral-qr-code",
        "responses": {
          "200": {
            "description": "QR code image",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/referrals/summary": {
      "get": {
        "security": [
          {
            "BearerToken": []
          }
        ],
        "description": "Get latest referee data for requester's account\n",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Referrals"
        ],
        "summary": "Get account referral details",
        "operationId": "get-referrals-summary",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/responses.APIResults"
                },
                {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/responses.ReferralsResp"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/responses.ApiError"
            }
          }
        }
      }
    },
    "/system/announcements": {
      "get": {
        "description": "get announcements",
        "produces": [
          "application/json"
        ],
        "tags": [
          "System"
        ],
        "summary": "Get all announcements",
        "operationId": "get-announcements",
        "parameters": [
          {
            "type": "string",
            "description": "Returns the ‘next’ paginated page.",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "End Time (unix time millisecond)",
            "name": "end_at",
            "in": "query"
          },
          {
            "maximum": 5000,
            "minimum": 1,
            "type": "integer",
            "default": 100,
            "description": "Limit the number of responses in the page",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Start Time (unix time millisecond)",
            "name": "start_at",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
[...]
