name: Update OpenAPI Specification and Fern Version

on:
  pull_request:
    paths:
      - '.github/workflows/sync-openapi.yml'
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-openapi:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.OPENAPI_SYNC_TOKEN }}

      - name: Check existing PRs
        id: check-prs
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          PR_ALREADY_EXISTS=false
          pr_list=$(gh pr list \
            --json number,title,state \
            --jq '.[] | select(.title | startswith("Update API"))')
          if [[ -n "$pr_list" ]]; then
            echo "Found PR(s):"
            echo "$pr_list"
            PR_ALREADY_EXISTS=true
          else
            echo "No PR found"
          fi
          echo "PR_ALREADY_EXISTS=${PR_ALREADY_EXISTS}" >> $GITHUB_OUTPUT
      
      - name: Debug outputs
        run: |
          echo "PR_ALREADY_EXISTS=${{ steps.check-prs.outputs.PR_ALREADY_EXISTS }}"
          echo "github.event_name=${{ github.event_name }}"
          echo "github.event_path=${{ github.event_path }}"
      
      - name: Install Fern CLI
        if: ${{ steps.check-prs.outputs.PR_ALREADY_EXISTS == 'false' }}
        run: |
          npm install -g fern-api

      - name: Run fern upgrade
        if: ${{ steps.check-prs.outputs.PR_ALREADY_EXISTS == 'false' }}
        run: fern upgrade

      - name: Check if there are changes to publish
        if: ${{ steps.check-prs.outputs.PR_ALREADY_EXISTS == 'false' }}
        id: check-diff
        run: |
          changed=true
          diff=$(git diff)
          # diff=$(git diff fern/apis)
          echo "Diff: $diff"
          # if [ -z "$diff" ]; then
          #  echo "Relevant files haven't changed"
          #  changed=false
          # else
          #  echo "Relevant files have changed!"
          #  changed=true
          # fi
          echo "changed=${changed}" >> $GITHUB_OUTPUT

      - name: Update OpenAPI Spec
        # if: ${{ steps.check-prs.outputs.PR_ALREADY_EXISTS == 'false' && github.event_name != 'pull_request' && steps.check-diff.outputs.changed == 'true' }}
        uses: fern-api/sync-openapi@v2
        with:
          token: ${{ secrets.OPENAPI_SYNC_TOKEN }}
          branch: 'update-openapi-spec'
          update_from_source: true
          add_timestamp: true
